{% extends "base.html" %}

{% block content %}
<h2 class="alert alert-danger" role="alert" align="center">Список профессий</h2>
{% if flag=='ol' %}
<ol>
    {% for item in proflist %}
    <li style="font-size: 35px">{{item}}</li>
    {% endfor %}
</ol>
{% elif flag=='ul' %}
<ul>
    {% for item in proflist %}
    <li style="font-size: 35px">{{item}}</li>
    {% endfor %}
</ul>
{% else %}
<h2 class="alert alert-danger" role="alert" align="center">Введите верный параметр</h2>
{% endif %}
{% endblock %}