{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;">Оформление каюты</h2>
<div>
<table style="table-layout: fixed;
  width: 100%;
  text-align: center;">
<tr style="background-color: #dddddd">
    <th>Цвет стен</th>
    <th>Эмблема</th>
</tr>
<tr>
    {% if gender == "male"%}
        {% if age < 21%}
        <td style="background-color: #b1c3de"></td>
        <td><img src="/static/img/junior.jpg"></td>
        {% else %}
        <td style="background-color: #2976ef"></td>
        <td><img src="/static/img/older.jpg"></td>
        {% endif %}
    {% elif gender == "female"%}
        {% if age < 21%}
        <td style="background-color: #fda27b"></td>
        <td><img src="/static/img/junior.jpg"></td>
        {% else %}
        <td style="background-color: #fc4a12"></td>
        <td><img src="/static/img/older.jpg"></td>
        {% endif %}
    {% endif %}
</tr>
</table>
</div>
{% endblock %}