{% extends "base.html" %}

{% block content %}
                    <h1>Жди нас, Марс!</h1>
                    <img src="https://starwalk.space/gallery/images/mars-the-ultimate-guide/1140x641.jpg"/>
                    <div id="css1" class="alert alert-primary" role="alert">
                      Человечество вырастает из детства.
                    </div>
                    <div id="css2"class="alert alert-primary" role="alert">
                      Человечеству мала одна планета.
                    </div>
                    <div id="css3" class="alert alert-primary" role="alert">
                      Мы сделаем обитаемыми безжизненные пока планеты.
                    </div>
                    <div id="css4" class="alert alert-primary" role="alert">
                      И начнем с Марса!
                    </div>
                    <div id="css5" class="alert alert-primary" role="alert">
                      Присоединяйся!
                    </div>
{% endblock %}